* {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
/*@font-face{
	font-family: 'fzltxhk_GBK';
	src:url('../fonts/方正兰亭纤黑_GBK.TTF');
}
@font-face{
	font-family:'fzltth';
	src:url('../fonts/方正兰亭特黑_GBK.TTF');
}
@font-face{
	font-family:'fzlth';
	src:url('../fonts/方正兰亭黑简体.TTF');
}*/
.main{
	
	background:url('../images/bg-about.jpg') no-repeat center center;
	background-size: cover;
}
.main .about {
	position: relative;
	padding-top: 120px;
	padding-bottom:50px;
}

.main .about .title-box{
	position:relative;
	padding:40px 0;
}
.main .about .title{
	position:absolute;
	top:0;
	left:50%;
	width:350px;
	text-align:center;
	color:#fff;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	background-color: #26293c;
}
.main .about .title h3{
	font-size:22px;
	font-weight:bold;
	margin-bottom:20px;
}
.main .about .title h5{
	font-size:14px;
	margin-bottom: 20px;
}
.main .about .title .short-line{
	text-align:center;
	line-height: 1;
}
.main .about .title .short-line span{
	display: inline-block;
	width:26px;
	height:3px;
	background-color: #fff;
}
.main .about .line{
	width:100%;
	background-color: #464959;
	height:1px;
}
.main .about .nav-about{
	background:url('../images/about-nav_bg.png') no-repeat center center;
	background-size:cover;
	color:#fff;
	width:100%;
	position:absolute;
	top:-70px;
	left:50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index:10;
	text-align:center;
	display:box;
	display:-webkit-box;
	display:-webkit-flex; 
	display:-moz-box; 
	display:-ms-flexbox; 
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.main .about .nav-about a{
	display: block;
	width:200px;
	padding-top:36px;
	padding-bottom: 55px;
	color:#fff;
}
.main .about .nav-about .felx{
	width:160px;
}
.main .about .nav-about a.active{
	background-color: #d1481b;
}
.main .about .nav-about a h3{
	font-size:22px;
	margin-bottom: 9px;
}
.main .about .nav-about a h5{
	font-size:16px;
}
/*.main .about .nav-about .left{
	float:left;
	text-align:center;
	
}
.main .about .nav-about .center{
	display: inline-block;
	
}
.main .about .nav-about .right{
	float:right;
	text-align:center;
}*/
.content{
	margin-top:45px;
	color:#fff;
	font-size: 16.3px;
}
.content p{
	line-height: 34px;
	margin-bottom: 40px;
}
.zizhi{
	background-color: #26293c;
}
.event-item{
	margin-bottom: 65px;
	
}
.event-item .shadow{
	box-shadow: 0 0 18px 6px rgba(0,0,0,0.48);
}
.event-item .shadow:hover img{
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.event-item .shadow:hover .brief-info{
	color:#d1481b;
}
.event-item .shadow .pic{
	overflow: hidden;
}
.event-item .shadow img{
	object-fit: cover;
	width:100%;
	height:243px;
}
.brief-info{
	background-color: #262628;
	color:#aaa;
	padding:20px;
}
.brief-info h3{
	font-size:18px;
	margin-bottom: 10px;
	line-height: 19px;
	height:38px;
}
.brief-info h5{
	font-size:12px;
	line-height: 15px;
	height:30px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.content .ser-item{
	margin-bottom: 40px;
}

.content .ser-item .media-left{
	padding-right: 35px;
}	
.content .ser-item .media-left .img-box{
	width:300px;
	height:216px;
	overflow: hidden;
}
.content .ser-item .media-left .img-box img{
	object-fit: cover;
    width: 100%;
    height: 216px;
}

.content .ser-item:hover .media-left .img-box img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.content .ser-item:hover .media-body .media-heading span{
	color:#d1481b;
}
.content .ser-item:hover .media-body p{
	color:#d1481b;
}
.content .ser-item:hover .media-body .look-detail span{
	color:#d1481b;
}
.content .ser-item .media-body .media-heading{
	font-size: 22px;
	color:#fff;
	padding-top: 18px;
	padding-bottom: 34px;
	border-bottom:1px solid #3c3f50;
}
.content .ser-item .media-body .media-heading .correlate-info{
	font-size:16px;
	margin-top: 10px;
}
.content .ser-item .media-body .media-heading .correlate-info span:first-child{
	margin-right:60px;
}
.content .ser-item .media-body p{
	font-size: 16px;
	color:#afafaf;
	line-height: 30px;
	height:60px;
	margin-top:12px;
	margin-bottom:22px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.content .ser-item .media-body .look-detail span{
	float:right;
	text-decoration:underline;
	color:#fff;
	font-size:16px;
}
.felx{
	width:160px;
}
.detail-title{
	padding-bottom:22px;
	border-bottom:1px solid #3c3f50;
	margin-bottom: 20px;
}
.detail-title h3{
	font-size:26px;
	color:#fff;
	text-align:center;
}
.detail-title h5{
	font-size:16px;
	margin-top: 20px;
	color:#aaa;
	text-align:center;
}
.detail-title h5 span:first-child{
	margin-right:60px;
}
.zhizhaos{
	text-align:center;
	padding-bottom: 50px;
}
.zhizhao{
	width:30%;
}
.detail-content{
	font-size:16px;
	color:#afafaf;
	line-height: 30px;
}
.detail-content p{
	margin-top: 25px;
}
.detail-content img{
	display: block;
	max-width: 100%;
	height:auto;
	margin:0 auto;
}
.contact-add{
	margin-top:40px;
	color:#fff;
}
.contact-add .short-line{
	width:30px;
	height: 3px;
	background-color:#d1481b;
	margin-bottom:10px;
}
.contact-add h3{
	font-family: 'fzltth';
	font-size:20px;
	font-weight:bold;
	margin-bottom: 6px;
}
.contact-add h5{
	font-size:12px;
	margin-bottom: 15px;
	font-family: 'fzltxhk_GBK';
}
.contact-add p{
	font-family: 'fzlth';
	font-size:16px;
	line-height: 1;
	margin-bottom: 0;
}
.contact-tel{
	margin-top: 38px;
	line-height: 40px;
}
.contact-tel li{
	display: inline-block;
	vertical-align: middle;
}
.hot-line{
	line-height: 20px;
	margin-right: 30px;
	color:#fff;
	padding-left: 40px;
	background:url('../images/tel.png') no-repeat left center;
}
.hot-line h3{
	font-size:18px;
	font-family: 'fzltxhk_GBK';
	margin-bottom: 5px;
}
.hot-line h5{
	font-size:12px;
	font-family: 'fzltxhk_GBK';
}
.contact-tel .tel{
	font-size:29px;
	font-family: 'fzltxhk_GBK';
	font-weight:bold;
	color:#d1481b;
}
.contact-tel .phone{
	font-size:29px;
	color:#d1481b;
	margin-right: 30px;
	font-weight:bold;
	font-family: 'fzltxhk_GBK';
}
@media (max-width: 767px){
	.main .about{
		padding-top: 45px;
	}
	.main .about .nav-about{
		position:static;
		transform: none;
		padding-bottom: 50px;
	}
	.main .about .nav-about a{
		padding:20px 0;
	}
	.content .ser-item .media-left{
		padding-right: 0;
		display: block;
	}	
	.content .ser-item .media-left .img-box{
		width:100%;
	}
	.content .ser-item .media-body{
		display: block;
		width:100%;
	}
	.content .ser-item .media-body p{
		margin-bottom: 0;
	}
	.contact-tel .hot-line{
		margin-bottom:20px;
	}
}